.input-field {
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--primary-color);
    padding: 0px 30px;
    background-color: rgb(91, 91, 91);
  }
  h2{
    width: 100%;
  }
.input-field-top{
    display:flex;
    flex-direction: column;
    width: 230px;
}